@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
}

.card-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 980px;
}

@media (min-width: 900px) {
  .card-box-container {
    height: 32rem;
  }
}

.card-box-container .box {
  display: none;
}

@media (min-width: 900px) {
  .card-box-container .box {
    display: block;
    position: absolute;
    z-index: 100;
    left: -2.75rem;
    top: 13rem;
  }
}

.card {
  max-width: 1000px;
  width: 90%;
  margin: 120px auto 30px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.3);
  background: white url(../images/bg-pattern-mobile.svg) 50% 0 no-repeat;
}

@media (min-width: 900px) {
  .card {
    height: 32rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    margin: 0 auto;
    background: white url(../images/bg-pattern-desktop.svg) -36rem -18rem no-repeat;
  }
}

.card__woman {
  margin: -8rem 2rem 0 0;
}

@media (min-width: 900px) {
  .card__woman {
    margin: 0 4rem 0 -6rem;
  }
}

.card__text-content {
  width: 100%;
  min-height: 27rem;
}

@media (min-width: 420px) {
  .card__text-content {
    padding: 0 20px;
  }
}

@media (min-width: 500px) {
  .card__text-content {
    padding: 0 50px;
  }
}

@media (min-width: 780px) {
  .card__text-content {
    padding: 0 100px;
  }
}

@media (min-width: 900px) {
  .card__text-content {
    width: auto;
    padding: 0;
  }
}

.card__text-content--header {
  margin: 3rem 0 2.3rem;
  text-align: center;
  font-size: 2.5em;
}

@media (min-width: 900px) {
  .card__text-content--header {
    text-align: start;
    margin: 2rem 0;
  }
}

.card__text-content hr {
  border: 0;
  border-top: 1px solid #e7e7e9;
}

.card__text-content .details__summary {
  list-style: none;
  color: #1d1e35;
  font-size: 1.125em;
  padding: 1rem 2rem 1rem 0;
  position: relative;
  outline: none;
}

.card__text-content .details__summary::-webkit-details-marker {
  display: none;
}

@media (min-width: 1600px) {
  .card__text-content .details__summary:hover {
    color: #f47c57;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
}

.card__text-content .details__summary::after {
  content: url(../images/icon-arrow-down.svg);
  position: absolute;
  top: 1rem;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.card__text-content .details[open] .details__summary {
  font-weight: 700;
}

.card__text-content .details[open] .details__summary::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card__text-content .details p {
  line-height: 1.5em;
  max-width: 33ch;
  color: #787887;
  margin-bottom: 1rem;
}

@media (min-width: 420px) {
  .card__text-content .details p {
    max-width: 45ch;
  }
}

@media (min-width: 500px) {
  .card__text-content .details p {
    max-width: 45ch;
  }
}

@media (min-width: 780px) {
  .card__text-content .details p {
    max-width: 45ch;
  }
}

@media (min-width: 900px) {
  .card__text-content .details p {
    max-width: 45ch;
  }
}
/*# sourceMappingURL=style.css.map */